:root {
    --titlecolor: #212121;
    --designcolor: #2196f3;
    --textcolor: #757575;
    --white-color: #fff;
    --alt-bgr-color: #2f303a;
    --icon-color: #afb1b8;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--textcolor);
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.current-page {
    color: var(--designcolor);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 24px 0 25px;
    background-color: var(--white-color);
    border-bottom: 1px solid #ececec;
}

.logo,
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--designcolor);
}

.logo {
    color: var(--designcolor);
}

.header-logo-span {
    color: #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 95px;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigation-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titlecolor);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--designcolor);
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.contacts-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link {
    display: inline-flex;
    align-items: center;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--designcolor);
}

.emeil-icon {
    margin-right: 10px;
}

.tel-icon {
    margin-right: 10px;
}

.section {
    padding: 94px 0;
}

.hero {
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    background-color: var(--alt-bgr-color);
}

.title,
.subtitle,
.advantage-list-item-title,
.team-list-item-title,
.project-list-title {
    color: var(--titlecolor);
}

.title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto 30px auto;
}

.btn-service-order {
    width: 216px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--designcolor);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 15%);
}

.btn-service-order:hover,
.btn-service-order:focus {
    background-color: #188ce8;
}

.advantage {
    background-color: var(--white-color);
}

.advantage-list {
    display: flex;
    justify-content: space-between;
}

.advantage-list-item {
    flex: 0 0 270px;
}

.advantage-ico {
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.advantage-list-item-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantage-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.types-of-work {
    padding-top: 0;
    background-color: var(--white-color);
}

.types-of-work-list {
    display: flex;
    justify-content: space-between;
}

.team {
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-container {
    padding: 30px 0;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-list-item-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-social-link,
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.team-social-link {
    color: var(--icon-color);
}

.icon {
    fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
    color: var(--white-color);
    background-color: var(--designcolor);
}

.section-clients {
    background-color: var(--white-color);
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-list-item {
    flex: 0 0 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--designcolor);
    border-color: var(--designcolor);
}

.projects {
    background-color: var(--white-color);
}

.filter-project-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btn-filter {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--designcolor);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project-list-item {
    width: 370px;
}

.project-link:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-box {
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: 0;
}

.project-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-list-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--alt-bgr-color);
    padding: 60px 0;
    color: var(--white-color);
}

.footer-container {
    display: flex;
}

.footer-address-container {
    margin-right: 70px;
}

.footer-logo {
    display: block;
    color: var(--designcolor);
    margin-bottom: 20px;
}

.footer-logo-span {
    color: var(--white-color);
}

.address-list-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.external-link {
    color: rgba(255, 255, 255, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--designcolor);
}

.social-link-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-link {
    background-color: #44454e;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--designcolor);
}
