:root {
    --titlecolor: #212121;
    --designcolor: #2196f3;
    --textcolor: #757575;
    --white-color: #fff;
    --bgr-color: #f5f4fa;
    --alt-bgr-color: #2f303a;
    --icon-color: #afb1b8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--textcolor);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid #ececec;
}

.logo,
.footer-logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--designcolor);
}

.logo {
    padding: 24px 0 25px;
}

.header-logo-span {
    color: #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 95px;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigation-link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titlecolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--designcolor);
}

.current-page {
    position: relative;
    color: var(--designcolor);
}

.current-page::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--designcolor);
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.contacts-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link {
    display: inline-flex;
    align-items: center;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--designcolor);
}

.emeil-icon {
    margin-right: 10px;
}

.tel-icon {
    margin-right: 10px;
}

.section {
    padding: 94px 0;
}

.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
    background-color: var(--alt-bgr-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title,
.subtitle,
.advantage-list-item-title,
.team-list-item-title,
.project-list-title {
    color: var(--titlecolor);
}

.title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto 30px auto;
}

.btn-service-order {
    width: 216px;
}

.btn-service-order,
.btn-subscribe,
.btn-send {
    height: 50px;
    margin: 0 auto;
    background-color: var(--designcolor);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 15%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service-order:hover,
.btn-service-order:focus {
    background-color: #188ce8;
}

.advantage {
    background-color: var(--white-color);
}

.advantage-list {
    display: flex;
    gap: 30px;
}

.advantage-list-item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantage-ico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bgr-color);
    border-radius: 4px;
}

.advantage-list-item-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantage-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.types-of-work {
    padding-top: 0;
    background-color: var(--white-color);
}

.types-of-work-list {
    display: flex;
    justify-content: space-between;
}

.types-of-work-list-item {
    position: relative;
}

.types-of-work-subtitle {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}

.team {
    background-color: var(--bgr-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-container {
    padding: 30px 0;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-list-item-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-item {
    width: 44px;
    height: 44px;
}

.team-social-link,
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team-social-link {
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
    color: var(--white-color);
    background-color: var(--designcolor);
}

.section-clients {
    background-color: var(--white-color);
}

.clients-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.clients-list-item {
    flex: 0 0 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--designcolor);
    border-color: var(--designcolor);
}

.projects {
    background-color: var(--white-color);
}

.filter-project-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btn-filter {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--bgr-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--designcolor);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.project-list-item {
    width: 370px;
}

.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay-container {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    background-color: var(--designcolor);
    opacity: 0.9;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay-caption {
    color: var(--white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .card-overlay,
.project-link:focus .card-overlay {
    transform: translateY(0);
}

.content-box {
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: 0;
}

.project-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-list-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--alt-bgr-color);
    padding: 60px 0;
    color: var(--white-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-address-container {
    margin-right: 70px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo-span {
    color: var(--white-color);
}

.address-list-item {
    width: 231px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    font-style: normal;
}

.address-link {
    opacity: 0.6;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.external-link {
    opacity: 1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus {
    color: var(--designcolor);
}

.footer-social-container {
    margin-right: 93px;
}

.footer-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-link {
    background-color: #44454e;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--designcolor);
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    padding: 15px;
    width: 358px;
    color: var(--textcolor);
    background-color: var(--alt-bgr-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
    color: var(--white-color);
    border: 1px solid var(--designcolor);
    outline: none;
}

.btn-subscribe {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
    margin-left: 12px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    border-radius: 4px;
    background-color: var(--white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    fill: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.btn-close:hover {
    fill: var(--designcolor);
}

.send-form {
    width: 100%;
    padding: 40px;
}

.send-form-caption {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titlecolor);
}

.send-form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--textcolor);
}

.send-form-field-wrapper {
    position: relative;
    margin: 4px 0 10px;
}

.send-form-input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    fill: var(--titlecolor);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--titlecolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-area {
    width: 100%;
    margin: 4px 0 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: vertical;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-area:focus,
.send-form-input:focus {
    border: 1px solid var(--designcolor);
    outline: none;
    fill: var(--designcolor);
}

.send-form-input:focus ~ .send-form-icon {
    fill: var(--designcolor);
}

.send-form-accept-field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--textcolor);
    fill: var(--white-color);
}

.send-form-accept-field > a {
    color: var(--designcolor);
}

.icon-check {
    border: 2px solid var(--titlecolor);
    border-radius: 2px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-checkbox:checked ~ .icon-check {
    background-color: var(--designcolor);
    border: none;
}

.btn-send {
    display: block;
    width: 200px;
}

.btn-send:hover,
.btn-send:focus {
    background-color: #188ce8;
}
