.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    border-radius: 4px;
    background-color: $white-color;
    transition: transform $transition;
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: $white-color;
    fill: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill $transition;
    cursor: pointer;
    &:hover {
        fill: $designcolor;
    }
}
