.navigation {
    display: flex;
    gap: 95px;
    align-items: center;
    @include for-size(tablet) {
        margin-right: auto;
    }
}

.navigation__mobile-menu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    @include for-size(tablet) {
        display: none;
    }
}
